#mensagem {
    position: absolute;
    right: 10px;
    bottom: 20px;
    padding: 30px
}

img {
    width: 40% !important;
}

#menu,
#conteudo {
    height: calc(100vh - 50px);
}

#conteudo {
    overflow-x: hidden;
    overflow-y: scroll;
}

#botao-novo-post {
    position: absolute;
    bottom: 10px;
    right: 10px;
}