<!DOCTYPE html>
<html>

<head>
  <title>Big Forum</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <header>
    <button>>>></button>
    <h1>Fórum Atual</h1>
    <button>Usuário</button>
  </header>

  <main>
    <aside>
      <ul>
        <li>Comida</li>
        <li>Esporte</li>
        <li>Estilo de vida</li>
        <li>Moda</li>
      </ul>
    </aside>
    <section>
      <article>

      </article>
    </section>
  </main>
</body>

</html>