<!DOCTYPE html>
<html>

<head>
    <title>Big Forum - Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <main class="container is-max-tablet mt-4">
        <h1 class="title is-1 has-text-centered">Entre no Big Forum</h1>
        <form action="/login" method="POST" class="box">
            <div class="field">
                <label class="label">Nome do Usuário</label>
                <div class="control">
                    <input class="input" autocomplete="off" type="text" name="usuario" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Senha</label>
                <div class="control">
                    <input class="input" autocomplete="off" type="password" name="senha" required>
                </div>
            </div>
            <input type="submit" class="button is-primary is-fullwidth" value="Login">
            <a href="/registro" class="is-link m-4" type="button">Não tem cadastro? Cadastre-se aqui</a>
        </form>
    </main>
</body>

</html>