<!DOCTYPE html>
<html>

<head>
    <title>Big Forum - Login</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='imagens/icone.png') }}" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
</head>

<body>
    <main class="container is-max-tablet mt-4 p-2">
        <figure class="image  is-justify-content-center is-display-flex">
            <img src="{{ url_for('static', filename='imagens/icone.png') }}" class="has-text-centered" alt="Ícone">
        </figure>
        <h1 class="title is-3 has-text-centered has-text-primary">Entre no Big Forum</h1>
        <form action="/login" method="POST" class="box">
            <div class="field">
                <label class="label">Nome do Usuário</label>
                <div class="control">
                    <input class="input" autocomplete="off" type="text" name="usuario" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Senha</label>
                <div class="control">
                    <input class="input" autocomplete="off" type="password" name="senha" required>
                </div>
            </div>
            <input type="submit" class="button is-primary is-fullwidth mb-3" value="Login">
            <a href="/registro" class="is-link has-text-primary-light" type="button">Não tem cadastro? Cadastre-se
                aqui</a>
        </form>
    </main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="notification is-{{category == 'error' and 'danger' or 'warning'}}" id="mensagem">
        <button class="delete" type="button" onclick="fecharNotificacao()"></button>
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>

</html>